__pycache__
collected_static
.idea
.env
data_test.py
.python-version
env/**
.coverage
.DS_Store
tests/v2/output/*
product_image/*
cov_html
media/*
celerybeat-schedule.db
_output/**
_input/**
_test**
celerybeat-schedule
.ipynb_checkpoints
_테스트/**
*.sqlite
temp/*.csv
manual_tests/**
bcd_main_server/applications/milsang_back_up_data.csv
scripts/**/*.csv
.ruff_cache/**